
{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card p-4">
      <h3 class="mb-3">Регистрация</h3>
      <form method="post">
        <div class="mb-3">
          <label class="form-label">Имя пользователя</label>
          <input class="form-control" name="username" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input class="form-control" name="email" type="email" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Пароль</label>
          <input class="form-control" name="password" type="password" required>
        </div>
        <button class="btn btn-neon">Создать аккаунт</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
